/*  your css code here. If applicable */


#main{
	padding: 50px;
	width: 200px;
	height: 400px;
	background-color: rgb(235 235 235);
	text-align: center;
	box-shadow: 0px 0px 5px; 
/* 	border: none; */
}
#main>img{
	height: 40%;
	width: 100%;	
}
#main h1{
	margin-top: 0px;
}
#main p{
	margin-top: 0px
}
#main button{
	background-color: red;
	border: none;
	color: white;
	border-radius: 3px;
	padding: 10px
}
